---
version: 2.1

orbs:
  ktl-nexus: krakentech/ktl-nexus@4
jobs:
  test-run:
    executor:
      name: ktl-nexus/default
      version: "3.13"
    steps:
      - run:
          name: Test for nexus package presence
          command: |
            tag="<< pipeline.trigger_parameters.github_app.ref >>"
            for i in {1..20}; do
              curl https://nexus.ktl.net/service/rest/v1/search\?repository\=pypi-kraken-private\&name\=kraken-cli | jq --raw-output '.items[] | select(.version=="${tag}") | .assets[] | select(.contentType=="application/x-gzip") | .downloadUrl'
              if [ $? -eq 0 ]; then
                break
              fi
                echo "Waiting for package to be published..."
              sleep 30
            done
            if [ $? -ne 0 ]; then
              echo "Package not found after 10 attempts"
              exit 1
            fi
            echo "Package found"
      - run:
          name: Template homebrew formula
          command: |
            tag="<< pipeline.trigger_parameters.github_app.ref >>"
            pkg_url=$(curl https://nexus.ktl.net/service/rest/v1/search\?repository\=pypi-kraken-private\&name\=kraken-cli | jq --raw-output '.items[] | select(.version=="${tag}") | .assets[] | select(.contentType=="application/x-gzip") | .downloadUrl')
            echo "pkg_url: ${pkg_url}"
workflows:
  test:
    jobs:
      - test-run:
          filters:
            tags:
              only: /.*/
