---
version: 2.1

parameters:
  tag:
    type: string
    default: ""

orbs:
  ktl-nexus: krakentech/ktl-nexus@4
  gh: circleci/github-cli@2.7.2

commands:
  setup:
    steps:
      - ktl-nexus/login
      - run:
          name: Create virtualenv
          command: |
            python -m venv ~/circleci/venv/
            echo "source ~/circleci/venv/bin/activate" >> $BASH_ENV
            echo "export UV_PROJECT_ENVIRONMENT=~/circleci/venv/" >> $BASH_ENV
      - run:
          name: Install uv
          command: pip install uv
      - ktl-nexus/configure_uv

jobs:
  test-formula-macos:
    executor:
      name: ktl-nexus/macos
      xcode_version: 16.4.0 # MacOS 15.3.2
    environment:
      HOMEBREW_NO_INSTALL_CLEANUP: "1"
      HOMEBREW_NO_AUTO_UPDATE: "1"
      HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: "1"
      COMMIT_HASH: <<pipeline.git.revision>>
    steps:
      - setup
      - checkout
      - run:
          name: Configure environment variables for Homebrew
          command: |
            # Configure uv for mutual authentication
            echo 'export HOMEBREW_SSL_CLIENT_CERT=$SSL_CLIENT_CERT' | tee -a $BASH_ENV
            echo 'export HOMEBREW_UV_INDEX_URL=$UV_INDEX_URL' | tee -a $BASH_ENV
            echo 'export HOMEBREW_UV_EXTRA_INDEX_URL=$UV_EXTRA_INDEX_URL' | tee -a $BASH_ENV
            echo 'export HOMEBREW_UV_NO_CONFIG=true' | tee -a $BASH_ENV
            echo 'export HOMEBREW_UV_NATIVE_TLS=$UV_NATIVE_TLS' | tee -a $BASH_ENV
            # Parse uv.lock to ensure external Nexus url is used
            echo 'export HOMEBREW_CIRCLECI=$CIRCLECI' | tee -a $BASH_ENV
      - run:
          name: Install Formula
          command: |
            brew install --overwrite --force --verbose --formula ./kraken-cli.rb
      - run:
          name: Smoke test
          command: |
            set -x
            which kraken
            kraken --version
            kraken gen-fernet-key

workflows:
  homebrew-bump-formula:
    jobs:
      - homebrew-bump-formula:
          context: KTL_NEXUS
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
  homebrew-bump-formula-manual:
    when: << pipeline.parameters.tag >> != ""
    jobs:
      - homebrew-bump-formula:
          context: KTL_NEXUS
          filters:
            branches:
              only: /^(main)$/
            tags:
              ignore: /.*/
  test-formula-macos:
    when: << pipeline.git.branch >> != ""
    jobs:
      - test-formula-macos:
          context: KTL_NEXUS
