---
version: 2.1

orbs:
  ktl-nexus: krakentech/ktl-nexus@4
# commands:
# setup:
#   steps:
#     - ktl-nexus/login
#     - run:
#         name: Create virtualenv
#         command: |
#           python -m venv ~/circleci/venv/
#           echo "source ~/circleci/venv/bin/activate" >> $BASH_ENV
#           echo "export UV_PROJECT_ENVIRONMENT=~/circleci/venv/" >> $BASH_ENV
#     - run:
#         name: Install uv
#         command: pip install uv
#     - ktl-nexus/configure_uv

# template-formula:
#   steps:
#     - setup
#     - run: Get tag name from
#     - run:
#         name: Wait for package to be published
#         command: |
#           for i in {1..10}; do
#             curl
#             sleep 20
#           done
#     - run:
#         name: Template formula
#         command: |
#           kraken-cli template formula ${{ env.PACKAGE_NAME }}
jobs:
  test-run:
    executor:
      name: ktl-nexus/default
      version: "3.13"
    steps:
      - run:
          name: DEBUG print the entire pipeline context
          command: |
            echo "Pipeline Git Branch: << pipeline.git.branch >>"
            echo "Pipeline Git Tag: << pipeline.git.tag >>"
            echo "Pipeline Git Revision: << pipeline.git.revision >>"
            echo "Pipeline Number: << pipeline.number >>"
            echo "Pipeline Project Type: << pipeline.project.type >>"
workflows:
  test:
    jobs:
      - test-run:
          filters:
            tags:
              only: /.*/
