---
version: 2.1

orbs:
  ktl-nexus: krakentech/ktl-nexus@4
jobs:
  test-run:
    executor:
      name: ktl-nexus/default
      version: "3.13"
    steps:
      - ktl-nexus/login
      - run:
          name: Test for nexus package presence
          command: |
            tag="<< pipeline.trigger_parameters.github_app.ref >>"\
            echo "Waiting for package to be published..."
            sleep 30
            for i in {1..20}; do
              pkg_url=$(curl --key ~/certificates/ktl-ca-circleci.pem --cert ~/certificates/ktl-ca-circleci.pem -s "https://nexus.ktl.net/service/rest/v1/search?repository=pypi-kraken-private&name=kraken-cli" | jq --raw-output '.items[] | select(.version=="${tag}") | .assets[] | select(.contentType=="application/x-gzip") | .downloadUrl')
              if [ -n "${pkg_url}" ]; then
                echo "Package found: ${pkg_url}"
                break
              fi
              sleep 20
            done
            if [ -z "${pkg_url}" ]; then
              echo "Package not found after 20 attempts"
              exit 1
            fi
      - run:
          name: Template homebrew formula
          command: |
            tag="<< pipeline.trigger_parameters.github_app.ref >>"
            pkg_url=$(curl --key ~/certificates/ktl-ca-circleci.pem --cert ~/certificates/ktl-ca-circleci.pem -s "https://nexus.ktl.net/service/rest/v1/search?repository=pypi-kraken-private&name=kraken-cli" | jq --raw-output '.items[] | select(.version=="${tag}") | .assets[] | select(.contentType=="application/x-gzip") | .downloadUrl')
            echo "pkg_url: ${pkg_url}"
workflows:
  test:
    jobs:
      - test-run:
          context: KTL_NEXUS
          filters:
            tags:
              only: /.*/
