name: brew-bump-formula-pr

on:
    workflow_dispatch: # Allow manual trigger

permissions:
    contents: read
    pull-requests: write
    id-token: write

jobs:
    bump:
        runs-on: ubuntu-latest
        steps:
            - name: Set up Homebrew
              uses: Homebrew/actions/setup-homebrew@master

            - name: Tap this repo
              run: brew tap octoenergy/ktl ${{ github.server_url }}/${{ github.repository }}

            - name: Bump formula if outdated
              env:
                  HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  brew bump-formula-pr \
                    --no-browse \
                    --no-fork \
                    octoenergy/ktl/kraken-cli || true
