name: brew-bump-formula-pr

on:
  workflow_dispatch: # Allow manual trigger

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  bump:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Tap local repo
        run: brew tap octoenergy/ktl .

      - name: Bump formula if outdated
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          brew bump-formula-pr \
            --no-browse \
            --no-fork \
            octoenergy/ktl/kraken-cli || true
